div.content-field {
  min-height: calc(100vh - 60px - 88px);
  overflow: hidden;
}
div.content-field .row {
  min-height: inherit;
}
div.content-field .row div.content-row {
  min-height: inherit;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
div.content-field .row div.content-row div.list {
  padding: 10px;
}
div.content-field .row div.content-row select.count_selector {
  font-size: 14px;
  color: #337ab7;
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}
div.content-field .row div.content-row ul.pager li a {
  cursor: pointer;
}
