div#car_template.col-lg-12.car_container
    .row
        .col-sm-12.record_header
            .row
                .col-xs-8
                    h4.title 
                .col-xs-4.align-right.vert-align-m
                    div.view_detail_info.glyphicon.glyphicon-chevron-down
        .col-sm-12.main_info
            .row
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Производитель
                        .col-sm-3
                            span.manufacture
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Модель
                        .col-sm-3
                            span.model
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Тип
                        .col-sm-3
                            span.type
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Стоимость 
                        .col-sm-3
                            span.cost
        .col-sm-12.detail_info.hidden
            .row 
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Количество дверей
                        .col-sm-3
                            span.door
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Количество людей
                        .col-sm-3 
                            span.person
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-3
                            span.head_label Местоположение
                        .col-sm-4
                            .row
                                .col-md-12
                                    span.locationCity
                                .col-md-12
                                    span.locationStreet
                                .col-md-12
                                    span.locationHouse
                .com-md-12  
                    .row
                        .col-sm-3.col-md-offset-5
                            button.create_order.btn Заказать