div#error_template.col-lg-12.error_container.absolute-position
    .row
        .error_content
            .col-sm-12.error_header
                h2 Извините произошла ошибка =(
            .col-sm-12.error_desc
                .row 
                    .col-md-2
                        span.status_code 
                    .col-sm-12
                        span.error_msg