doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/nav.css')
      link(rel='stylesheet', href='/css/list.css')
      link(rel='stylesheet', href='/css/footer.css')
      link(rel='stylesheet', href='/css/car.css')
      link(rel='stylesheet', href='/css/order.css')
      link(rel='stylesheet', href='/css/error.css')
      link(rel='stylesheet', href='/css/paid.css')
      link(rel='stylesheet', href='/css/draft_confirm_form.css')
      link(rel='stylesheet', href='/css/iframe.css')
      link(rel='stylesheet', href='/css/report.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/bootstrap/dist/js/bootstrap.js')
      script(src='/js/menu.js')
      script(src='/js/car.js')
      script(src='/js/order.js')
  body
