div.navbar-wrapper
    div.container
        div.row
            div.col-xs-2.logo
                img(src='/img/logo.png', alt='logo')
            div.col-xs-2.name
                p.text-center.nav-title FrontEnd
            div.col-xs-6
                ul#nav-pills.nav.nav-pills
                    li#automobile-pill.active 
                        a Автомобили
                    li#orders-pill 
                        a Заказы
                    li#report-pill
                        a Отчеты
            div.col-xs-2
                button#auth_submit Зайти