div#order_template.col-lg-12.order_container
    .row
        .col-sm-12.record_header
            .row
                .col-xs-8
                    h4.title 
                .col-xs-4.align-right.vert-align-m
                    div.view_detail_info.glyphicon.glyphicon-chevron-down
        .col-sm-12.main_info
            .row
                .col-md-12
                    .row
                        .col-xs-2.col-sm-offset-1.text-right
                            span.head_label С
                        .col-xs-2.text-left
                            span.lease-start
                        .col-xs-2.col-sm-offset-2.text-right
                            span.head_label По
                        .col-xs-2.text-left
                            span.lease-end
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-1.text-right
                            span.head_label Дата формирования заказа
                        .col-sm-4.text-left.date_issue_container
                            span.date_issue
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-1.text-right
                            span.head_label Статус
                        .col-sm-4.text-left
                            span.status
        .col-sm-12.car_info
            .row
                .car_content 
                    .col-xs-12.text-center
                        h3.content_title Автомобиль
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Производитель
                            .col-sm-3
                                span.manufacture
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Модель
                            .col-sm-3
                                span.model
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Тип
                            .col-sm-3
                                span.type
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Стоимость 
                            .col-sm-3
                                span.cost
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Количество дверей
                            .col-sm-3
                                span.door
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Количество людей
                            .col-sm-3 
                                span.person
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Местоположение
                            .col-sm-4
                                .row
                                    .col-md-12
                                        span.locationCity
                                    .col-md-12
                                        span.locationStreet
                                    .col-md-12
                                        span.locationHouse
        .col-sm-12.billing_info
            .row
                .billing_content
                    .col-xs-12.text-center
                        h3.content_title Платеж
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Номер платежа 
                            .col-sm-3
                                span.billingId
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Платежная система
                            .col-sm-3
                                span.paySystem
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Расчетный счет
                            .col-sm-3
                                span.account
                    .col-md-12
                        .row
                            .col-sm-3.col-md-offset-3
                                span.head_label Стоимость
                            .col-sm-3
                                span.cost
        .com-md-12.action_button_field
                    .row
                        .col-sm-3.col-md-offset-5
                            button.action_btn.btn