div#report_template.lg-col-12
    div.lg-col-12
        h3.title.text-center Статистика авторизации с помощью code
    div.lg-col-12
        table.table
            thead
                tr
                    td.col-1 №
                    td.col-2 id
                    td.col-3 Статус
                    td.col-4-1 Данные
                    td.col-4 Доп.описание
            tbody#authCodeReportTable
    div.lg-col-12
        h3.title.text-center Статистика запросов на получение токена по refresh токену
    div.lg-col-12
        table.table
            thead
                tr
                    td.col-1 №
                    td.col-2 id
                    td.col-3 Статус
                    td.col-4-1 Данные
                    td.col-4 Доп.описание
            tbody#authTokenReportTable
    div.lg-col-12
        h3.title.text-center Статистика создания заказов
    div.lg-col-12
        table.table
            thead
                tr
                    td.col-1 №
                    td.col-2 id
                    td.col-3 Статус
                    td.col-4-1 Данные
                    td.col-4 Доп.описание
            tbody#draftOrderReportTable